/* Universal Selectors ( Dont overuse because they can have performance implications */
/* This rule doesnt apply to pseudo-elements */
/* * {
    box-sizing: border-box;
} */

/* To make it work we need to extend this rule as below */

*, *::before, *::after {

    box-sizing: border-box;
}

body {
    margin: 10px;
}

.box::before {
    content: 'Hello';
}

.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    /* padding: 20px; */
    /* border: 10px solid orange; */
    /* Margin does not impact the size of the object */
    /* margin: 50px; */
    /* Box-Sizing: By using border-box we define the total size of an element */
    /* box-sizing: border-box; */
}

.box1::before {
    content: 'Hello';
}

/* Inline elements , like span, dont respect the width and height properties so we use display: in-line block*/
.box1 {
    width: 100px;
    height: 100px;
    background-color: gold;
    display: inline-block;
}